.sidebar {
  width: 240px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: white;

  padding: 20px 12px;

  overflow-y: auto; /* scroll thakbe but hidden */
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #38bdf8;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Item */
.menuItem {
  padding: 10px 12px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  cursor: pointer;

  transition: all 0.25s ease;
}

/* Hover */
.menuItem:hover {
  background: rgba(59, 130, 246, 0.15);
}

/* Active */
.active {
  background: linear-gradient(90deg, #2563eb, #3b82f6);
}

/* Logout */
.logout {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;

  text-align: center;
  font-size: 14px;

  background: linear-gradient(90deg, #ef4444, #dc2626);
  cursor: pointer;
}